body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
  }
  
  header {
    background-color: #17a589;
    color: #ffffff;
    padding: 10px;
    text-align: center;
  }
  
  main {
    height: 400px;
    overflow-y: scroll;
    padding: 10px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  form {
    background-color: #f5f5f5;
    padding: 10px;
    display: flex;
  }
  
  input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #17a589;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

